body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  background-color: #ffffff;
  min-width: 320px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 15px;
  max-width: 480px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

.header {
  border-bottom: 1px solid #ececec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  font-weight: 700;
  font-size: 20px;
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .logo {
    font-size: 24px;
  }
}
.logo--dark {
  color: #212121;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .contact {
    gap: 20px;
  }
}
.contact__tel {
  font-weight: 400;
  font-size: 14px;
  padding: 15px 0;
  color: #757575;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 5px;
}
.contact__tel:hover, .contact__tel:focus {
  color: #2196f3;
}
.contact__icon {
  fill: currentColor;
}
.contact__instagram {
  border-radius: 50%;
  fill: #757575;
}
.contact__instagram:hover, .contact__instagram:focus {
  fill: #2196f3;
}

.hero {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/1.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 400px;
  padding-top: 120px;
}
@media screen and (min-width: 1280px) {
  .hero {
    max-width: 1600px;
    min-height: 600px;
    padding-top: 200px;
  }
}
.hero__title {
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 1280px) {
  .hero__title {
    font-size: 44px;
    max-width: 700px;
  }
}
.hero__text {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  max-width: 400px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #ffffff;
}
@media screen and (min-width: 1280px) {
  .hero__text {
    font-size: 24px;
    max-width: 700px;
  }
}

@media screen and (min-width: 768px) {
  .benefits {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 767px) {
  .benefits__list {
    gap: 20px;
  }
}
@media screen and (min-width: 768px) {
  .benefits__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .benefits__item {
    width: 200px;
  }
}
@media screen and (min-width: 1280px) {
  .benefits__item {
    width: 400px;
  }
}
.benefits__title {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
}
.benefits__description {
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #757575;
}
.benefits__image {
  width: 25px;
}
@media screen and (min-width: 768px) {
  .benefits__image {
    width: 50px;
  }
}

@media screen and (min-width: 768px) {
  .benefits {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 767px) {
  .benefits__list {
    gap: 20px;
  }
}
@media screen and (min-width: 768px) {
  .benefits__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .benefits__item {
    width: 200px;
  }
}
@media screen and (min-width: 1280px) {
  .benefits__item {
    width: 400px;
  }
}
.benefits__title {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
}
.benefits__description {
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #757575;
}
.benefits__image {
  width: 25px;
}
@media screen and (min-width: 768px) {
  .benefits__image {
    width: 50px;
  }
}

.category {
  background-color: #f5f4fa;
}
@media screen and (min-width: 768px) {
  .category {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.category__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .category__title {
    margin-bottom: 50px;
    font-size: 44px;
  }
}
.category__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 20px;
}
@media screen and (min-width: 768px) {
  .category__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 90px;
  }
}
.category__item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  max-width: 250px;
}
.category__name {
  margin: 5px 0;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #212121;
}

.footer {
  background-color: #2f303a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.footer__city {
  font-weight: 400;
  font-size: 14px;
  padding-top: 15px;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .footer__city {
    padding: 15px 0;
    margin: 0 auto;
  }
}
.footer__city:hover, .footer__city:focus {
  color: #2196f3;
}

.logo--white {
  color: #ffffff;
}

.contact__tel--white {
  color: #ffffff;
}

.contact__instagram--white {
  fill: #ffffff;
  margin-left: 20px;
}

.sukhofrukty {
  background-color: #f5f4fa;
}
@media screen and (min-width: 768px) {
  .sukhofrukty {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.sukhofrukty__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .sukhofrukty__title {
    margin-bottom: 50px;
    font-size: 44px;
  }
}
.sukhofrukty__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 20px;
}
@media screen and (min-width: 768px) {
  .sukhofrukty__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 90px;
  }
}
.sukhofrukty__item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 5px;
  max-width: 260px;
}
.sukhofrukty__name {
  margin: 10px 0;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}
.sukhofrukty__description {
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
}
.sukhofrukty__property {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
}

.gorikhi {
  background-color: #f5f4fa;
}
@media screen and (min-width: 768px) {
  .gorikhi {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.gorikhi__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .gorikhi__title {
    margin-bottom: 50px;
    font-size: 44px;
  }
}
.gorikhi__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 20px;
}
@media screen and (min-width: 768px) {
  .gorikhi__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 90px;
  }
}
.gorikhi__item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 5px;
  max-width: 260px;
}
.gorikhi__name {
  margin: 10px 0;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}
.gorikhi__description {
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
}
.gorikhi__property {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
}

.candy {
  background-color: #f5f4fa;
}
@media screen and (min-width: 768px) {
  .candy {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.candy__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .candy__title {
    margin-bottom: 50px;
    font-size: 44px;
  }
}
.candy__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 20px;
}
@media screen and (min-width: 768px) {
  .candy__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 90px;
  }
}
.candy__item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 5px;
  max-width: 260px;
}
.candy__name {
  margin: 10px 0;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}
.candy__description {
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
}
.candy__property {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
}

.rahat {
  background-color: #f5f4fa;
}
@media screen and (min-width: 768px) {
  .rahat {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.rahat__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .rahat__title {
    margin-bottom: 50px;
    font-size: 44px;
  }
}
.rahat__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 20px;
}
@media screen and (min-width: 768px) {
  .rahat__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 90px;
  }
}
.rahat__item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 5px;
  max-width: 260px;
}
.rahat__name {
  margin: 10px 0;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}
.rahat__description {
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
}
.rahat__property {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
}

.drink {
  background-color: #f5f4fa;
}
@media screen and (min-width: 768px) {
  .drink {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.drink__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .drink__title {
    margin-bottom: 50px;
    font-size: 44px;
  }
}
.drink__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 20px;
}
@media screen and (min-width: 768px) {
  .drink__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 90px;
  }
}
.drink__item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 5px;
  max-width: 260px;
}
.drink__name {
  margin: 10px 0;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}
.drink__description {
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
}
.drink__property {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
}

.oil {
  background-color: #f5f4fa;
}
@media screen and (min-width: 768px) {
  .oil {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.oil__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .oil__title {
    margin-bottom: 50px;
    font-size: 44px;
  }
}
.oil__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 20px;
}
@media screen and (min-width: 768px) {
  .oil__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 90px;
  }
}
.oil__item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 5px;
  max-width: 260px;
}
.oil__name {
  margin: 10px 0;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}
.oil__description {
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
}
.oil__property {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
}/*# sourceMappingURL=main.css.map */