.footer {
    background-color: $dark-background-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @include tablet {
        flex-direction: row;
    }

    &__city {
        font-weight: 400;
        font-size: 14px;
        padding-top: 15px;
        color: $white-text-color;

        @include tablet {
            padding: 15px 0;
            margin: 0 auto;
        }

        &:hover,
        &:focus,
        &:active {
            color: $accent-color;
        }
    }
}

.logo--white {
    color: $white-text-color;
}

.contact__tel--white {
    color: $white-text-color;
}

.contact__instagram--white {
    fill: $white-text-color;
    margin-left: 20px;
}
