// набор шрифтов
$primaryFont: "Roboto", sans-serif;

// палитра цветов
$primary-text-color: #212121;
$secondary-text-color: #757575;
$white-text-color: #ffffff;
$accent-color: #2196f3;
$white-background-color: #ffffff;
$dark-background-color: #2f303a;
$mix-background-color: #f5f4fa;
